
NET "io_1"  LOC = P132 | IOSTANDARD = LVTTL;
NET "io_2"  LOC = P127 | IOSTANDARD = LVTTL;
NET "io_3"  LOC = P124 | IOSTANDARD = LVTTL;
NET "io_4"  LOC = P126 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_5"  LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;

