
NET "io_1" LOC = P132;
NET "io_1" IOSTANDARD = LVTTL;
NET "io_2" LOC = P127;
NET "io_2" IOSTANDARD = LVTTL;
NET "io_3" LOC = P124;
NET "io_3" IOSTANDARD = LVTTL;
NET "io_4" LOC = P126;
NET "io_4" IOSTANDARD = LVTTL;
NET "io_4" PULLDOWN;
NET "io_5" LOC = P123;
NET "io_5" IOSTANDARD = LVTTL;
NET "io_5" PULLDOWN;

